a {
    color:#999999 ;
    text-decoration: none;
  }
  a:hover{
    color: #4d4d4d;;
  }

  body {
    background-color:#FFFFFF;
  }


@media screen and (min-width:768px) {
 #name{width:15vw;
        display: block; 
        margin-top: 3vw;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        margin-bottom: 3vw;
    }
    }
 #menu1{height:2.25vw;
    display: block; 
    margin-top: 3vw;
    margin-left: 1vw;}
        #menu{width: 0px;
            display: block; 
            margin: auto;}
            #instagram{height:2vw;
                display: block; 
                margin-top: 2.7vw;
                margin-left: 5vw;}
 

 .app {
         width: 100vw;
         height: 100vh;
         border: 0px solid blue;
         display: flex;
         flex-direction: column;
           }        
 .header {
         height:15vw;
         background-color:transparent;
         box-sizing:border-box;
         border: 0px solid blue;
         position:sticky;
         top: 00px;
         display:flex;
         flex-direction:row;
         flex-grow:1;
            
           }
.main {
         display: flex;
         flex-direction: column;
         flex-grow:1;
           }
 
 
.myChangeImage{
    position:relative;
    z-index: 0;
    border: 0px solid blue;
    width:85vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.myChangeImagesp{
    position:relative;
    z-index: 0;
    border: 0px solid blue;
    width:85vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.myChangeImage img{
    position:absolute;
    z-index: 1;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:85vw;
    display: block;
    margin: auto;
    margin-left:7.5vw;
    margin-top:0vw;
    animation: ChangeImage 30s infinite;
    opacity: 0;
}

@keyframes ChangeImage{
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    20%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
}

.myChangeImage img:nth-of-type(1) {
     animation-delay: 0s;
}
.myChangeImage img:nth-of-type(2) {
    animation-delay: 6s;
}
.myChangeImage img:nth-of-type(3) {
    animation-delay: 12s;
}
.myChangeImage img:nth-of-type(4) {
    animation-delay: 18s;
}
.myChangeImage img:nth-of-type(5) {
    animation-delay: 24s;
}
.moji{
    position:relative;
    z-index: 2;
    border: 0px solid blue;
    width:85vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.mojisp{
    position:relative;
    z-index: 2;
    border: 0px solid blue;
    width:85vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.moji img{
    position:absolute;
    z-index: 3;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:85vw;
    display: block;
    margin: auto;
    margin-left:7.5vw;
    margin-top:0vw;
    
}
.tokusetu{
    position:relative;
    z-index: 4;
    border: 0px solid blue;
    width:15.86vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.tokusetusp{
    position:relative;
    z-index: 4;
    border: 0px solid blue;
    width:15.86vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.tokusetu img{
    position:absolute;
    z-index: 5;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:15.86vw;
    display: block;
    margin: auto;
    margin-left:71.73vw;
    margin-top:37.925vw;
    
}

.content {
         display: flex;
         flex-direction: row;
         flex-grow: 1;
         border: 0px solid blue;
           }
#left1{width: 42.5vw;
    display: block;
    border: 1px solid blue;
    margin: auto;
    margin-bottom:2vw;
    margin-left:7.5vw;
    margin-right:0vw;
    margin-top: 50vw;
     }
 #right1{width:42.5vw;
    display: block;
    border: 1px solid blue;
    margin: auto;
    margin-bottom:2vw;
    margin-left:0vw;
    margin-right:0vw;
    margin-top: 50vw;
       }
#left{width: 42.5vw;
    display: block;
    border: 1px solid blue;
    margin: auto;
    margin-bottom:2vw;
    margin-left:7.5vw;
    margin-right:0vw;
    margin-top: 0px;
     }
 #right{width:42.5vw;
    display: block;
    border: 1px solid blue;
    margin: auto;
    margin-bottom:2vw;
    margin-left:0vw;
    margin-right:0vw;
    margin-top: 0px;
       }

 
 .footer {
    height: 15vw;
    background-color:transparent;
    box-sizing: border-box;
    border: 0px solid blue;
    position: sticky;
    top: 00px;
       
      }
 
 
 
 @media screen  and ( max-width:768px) {
 
     
  #name{width: 23vw;
    display: block; 
    margin-left:2.5vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
    }
#menu1{width:0px;
    display: block; 
    margin: auto;
    position: absolute;
    top:10px;
    right:auto;}
    #menu{width: 10vw;
        display: block; 
        margin-left:7.5vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
        }
        #instagram{width: 00px;
            display: block; 
            margin: auto;
            position: absolute;
            top:10px;
            right:auto;}
  

  .header {
          height: 100px;
          background-color:transparent;
          box-sizing: border-box;
          border: 0px solid blue;
          position: sticky;
          top: 00px;
             
            }
  
  .main {
          display: flex;
          flex-direction: column;
          flex-grow:1;
            }
  
 
  .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
            }
.myChangeImagesp{
    position:relative;
    z-index: 0;
    border: 0px solid blue;
    width:85vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.myChangeImage{
    position:relative;
    z-index: 0;
    border: 0px solid blue;
    width:85vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.myChangeImagesp img{
    position:absolute;
    z-index: 1;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:85vw;
    display: block;
    margin: auto;
    margin-left:7.5vw;
    margin-top:0vw;
    animation: ChangeImage 30s infinite;
    opacity: 0;
}

@keyframes ChangeImagesp{
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    20%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
}

.myChangeImagesp img:nth-of-type(1) {
     animation-delay: 0s;
}
.myChangeImagesp img:nth-of-type(2) {
    animation-delay: 6s;
}
.myChangeImagesp img:nth-of-type(3) {
    animation-delay: 12s;
}
.myChangeImagesp img:nth-of-type(4) {
    animation-delay: 18s;
}
.myChangeImagesp img:nth-of-type(5) {
    animation-delay: 24s;
}

.content {
         display: flex;
         flex-direction:column;
         flex-grow: 1;
         border: 0px solid blue;
           }
.mojisp{
    position:relative;
    z-index: 2;
    border: 0px solid blue;
    width:85vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.moji{
    position:relative;
    z-index: 2;
    border: 0px solid blue;
    width:85vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.mojisp img{
    position:absolute;
    z-index: 3;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:85vw;
    display: block;
    margin: auto;
    margin-left:7.5vw;
    margin-top:0vw;
    
}

.tokusetusp{
    position:relative;
    z-index: 4;
    border: 0px solid blue;
    width:36.87vw;
    display: block;
    margin-left:0vw;
    margin-top:0vw;
    
}
.tokusetu{
    position:relative;
    z-index: 4;
    border: 0px solid blue;
    width:15.86vw;
    display: none;
    margin-left:0vw;
    margin-top:0vw;
    
}

.tokusetusp img{
    position:absolute;
    z-index: 5;
    border: 0px solid blue;
    top: 0;
    left: 0;
    width:36.87vw;
    display: block;
    margin: auto;
    margin-left:52.3vw;
    margin-top:138.84vw;
    
}
#left1{width: 94vw;
    display: block; 
    border: 0px solid blue;
    margin: auto;
    margin-bottom:10vw;
    margin-left:3vw;
    margin-right:0vw;
    margin-top: 211.5vw;
     }
 #right1{width:94vw;
    display: block; 
    border: 0px solid blue;
    margin: auto;
    margin-bottom:10vw;
    margin-left:3vw;
    margin-right:0vw;
    margin-top: 0vw;
       }
#left{width: 94vw;
    display: block;
    border: 0px solid blue;
    margin: auto;
    margin-bottom:10vw;
    margin-left:3vw;
    margin-top: 0px;

 
 
 }
 #right{width:94vw;
    display: block;
    border: 0px solid blue;
    margin: auto;
    margin-bottom:10vw;
    margin-left:3vw;
    margin-top: 0px;

 
 
 }


  
   .footer {
    height: 15vw;
    background-color:transparent;
    box-sizing: border-box;
    border: 0px solid blue;
    position: sticky;
    top: 00px;
       
      }
  
 }
